.container {
    position: relative;
    width: 30%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.bar {
    position: absolute;
    width: 100%;
    height: 10px;
    display: flex;
}

.bar div {
    flex: 1;
}

.red { background-color: #ff0000; }
.orange { background-color: #ff9900; }
.yellow { background-color: #ffff00; }
.green { background-color: #66ff66; }
.blue { background-color: #0066ff; }

.cursor {
    position: absolute;
    width: 40px; /* Increased size */
    height: 40px; /* Increased size */
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #ffff00;
    cursor: grab;
}

.emoji {
    font-size: 24px; /* Increased size */
    pointer-events: none;
}
